.footer-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #325343;
  color:whitesmoke;
  padding: 15px;
}
.normal-font{
  font-size: 15px;
  font-weight: 500;
  color:black;
}