*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Overpass,sans-serif
}

 .main-content{
  padding-top: 70px;
  background: #325343;
 }


/* a{
  text-decoration: none;
}

a.active {
  color: red;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  max-width: 100%;
} 

.container h1 {
  font-size: 70;
  font-weight: 500;
} 
